.headerContainer {
  &.dark {
    background: var(--black);
    border-bottom: 1px solid var(--oppositegray-100);
    color: var(--oppositegray-500);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--oppositegray-800);
    }

    p {
      border-left: 1px solid var(--oppositegray-100);
    }
  }
  background: var(--white);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  border-bottom: 1px solid var(--gray-100);

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  .theme {
    margin-left: auto;
    cursor: pointer;
    opacity: 0.7;

    height: 2rem;
    width: 2rem;

    &:hover {
      opacity: 1;
    }
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }
}

@media (max-width: 900px) {
  .headerContainer {
    height: 10rem;

    flex-direction: column;
    justify-content: center;

    padding: 0;

    p {
      margin-top: 0.8rem;
      margin: 0;
      padding: 0;
      border: 0;
    }

    .theme {
      margin: 0.4rem 0 0;
    }

    span {
      margin: 0;
      margin-top: 0.8rem;
    }
  }
}
